{% extends 'base.jinja' %}

<!-- new_user.jinja - for testing purposes -->

{% block title %}
<h1>Create a user</h1>
{% endblock %}

{% block content %}

<form method="POST" action="/users/new">
    <label for="first_name">First Name
        <input name="first_name" type="text" placeholder="Enter a first name"
        class="form-input">
    </label>

    <label for="last_name">Last Name
        <input name="last_name" type="text" placeholder="Enter a last name"
        class="form-input">
    </label>

    <label for="img_url">Image URL
        <input name="img_url" type="text" placeholder="Enter an image link"
        class="form-input">
    </label>
    <button class="create-user-btn">Add</button>
</form>

{% endblock %}