{% extends 'base.jinja' %}

<!-- user_listing.jinja - for testing purposes -->

{% block title %}
<h1>User Listing</h1>
{% endblock %}

{% block content %}

<ul>
{% for user in users %}
<li><a href="/users/{{ user.id }}">
{{ user.get_full_name() }}</a></li>
{% endfor %}
</ul>

<form action="/users/new">
    <button>Add user</button>
</form>

{% endblock %}