{% extends 'base.jinja' %}

<!-- user_details.jinja - for testing purposes -->

{% block title %}
<h1>User Details</h1>
{% endblock %}

{% block content %}

<div class="details-container">
    <div><img src="{{ user.image_url }}"></div>
    <div>
        <p>{{ user.get_full_name() }}</p>
        <form>
            <button
                type="submit"
                formmethod="GET"
                formaction="/users/{{ user.id }}/edit"
            >
            Edit
            </button>
            <button
                type="submit"
                formmethod="POST"
                formaction="/users/{{ user.id }}/delete"
            >
            Delete
            </button>
        </form>
    </div>
</div>

{% endblock %}